.li-hover{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 30px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    &:hover{
        background-color: rgb(158, 158, 158);
        color: white;
        border-radius: 10px;
    }
}
.navactive{
    background-color:rgb(129, 129, 129) ;
    color: white;
    border-radius: 10px;
}
.login-singup-btn{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    &:hover{
        background-color: rgb(7, 7, 195) !important;
    }
    &:active{
        
        background-color: rgb(9, 9, 247) !important;
    }
}
