.li-hover{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 30px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    &:hover{
        background-color: rgb(158, 158, 158);
        color: white;
        border-radius: 10px;
    }
}
.navactive{
    background-color:rgb(129, 129, 129) ;
    color: white;
    border-radius: 10px;
}
.login-singup-btn{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    &:hover{
        background-color: rgb(7, 7, 195) !important;
    }
    &:active{
        
        background-color: rgb(9, 9, 247) !important;
    }
}

/* singup css */
/* From Uiverse.io by mi-series */ 
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EDDCD9;
  height: auto;
  width: auto;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #E99F4C;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #E99F4C;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus, .btn-singup:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #E99F4C;
}

.btn-singup {
  /* padding: 15px; */
  height: 55px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #DE5499;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #E99F4C;
}

.btn-singup:hover {
  opacity: .9;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}

.user-btn{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #DE5499;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  &:hover{
    background-color: #dd2e86;
  }
  &:active{
    background-color: #c86597;

  }
}